Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
a="dhiru"
print(a)
l=[1,2,'karan','sachdev',23.35,1+5j]
print(l)
b=29.567878
print(b)
t=(1,6,9,"subh",12.6)
print(t)

dhiru
[1, 2, 'karan', 'sachdev', 23.35, (1+5j)]
29.567878
(1, 6, 9, 'subh', 12.6)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [5]:
var1=''
print(type(var1))
var2='[DS,ML,PYTHON]'
print(type(var2))
var3=['DS','ML','PYTHON']
print(type(var3))
var4=1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [15]:
a=24
b=12
print('Division opertor:it is used to dived the values')
print(a/b)
c=19
d=3
print('Modulus operator:it gives remainder')
print(c%d)
e=234
f=2
print('it is used to neglect decimal values')
print(f//e)
g=2
h=2
print('it is used squre ,cube etc')
print(g**h)

Division opertor:it is used to dived the values
2.0
Modulus operator:it gives remainder
1
it is used to neglect decimal values
0
it is used squre ,cube etc
4

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [17]:
l=[1,2,3,234.45,'subh',12+56j,'wankhede',65.5,99,100]
for i in l:
  print(i)
  c=type(i)
  print(c)

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
234.45
<class 'float'>
subh
<class 'str'>
(12+56j)
<class 'complex'>
wankhede
<class 'str'>
65.5
<class 'float'>
99
<class 'int'>
100
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
A = 8
B = 4
division_count = 0
while A % B == 0:
    division_count += 1
    A /= B
print("A is divisible by B", division_count, "times")

A is divisible by B 1 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [2]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
type(a)
list

for i in a:
    if i%3==0:
        print(i, 'is divisible by 3')
    else:
            print(i, 'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property

In [1]:
print('a mutable object is an object whose state can be modified after it is defined. The opposite of a mutable object is an immutable object, whose state cannot be altered after it is initially defined.')
t1=(1,2,3)
print(t1)
t1[0]=5
print(t1)
print('tuple is immutable')
l1=[1,2,3,4]
print(l1)
l1[0]=0
print(l1)

a mutable object is an object whose state can be modified after it is defined. The opposite of a mutable object is an immutable object, whose state cannot be altered after it is initially defined.
(1, 2, 3)

TypeError: 'tuple' object does not support item assignment